# ch03 데이터구조

# 1절 리스트
## 1.1 리스트 만들기
-[]를 이용해서 만들며, 여러개 값을 하나의 변수에 저장, 관리할 수 있음<br>
-인덱스: 각 요소의 위치, 인덱스는 0부터 시작. 맨마지막인덱스는 -1<br>
-슬라이싱: 부분 데이터셋을 뽑아내는 것. 인덱스를 이용해서 쓰기와 읽기를 지원

In [2]:
fruits=['banana','apple','orange','grape']
type(fruits)

list

In [3]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [4]:
print(fruits[0])

banana

In [5]:
for fruit in fruits:
    print(fruit)

banana
apple
orange
grape

In [8]:
#range(from,to,by) ; from부터 to 바로앞까지 by씩 증가되면서 만들어진 list
#from 생략시 0부터/by 생략시 1씩

list(range(6))

[0, 1, 2, 3, 4, 5]

In [9]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [10]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [13]:
# 0번째: banana... Len(fruits: fruits 요소의 갯수)
for idx in range(len(fruits)):
    print('{}번째:{}'.format(idx,fruits[idx]))

0번째:banana
1번째:apple
2번째:orange
3번째:grape

In [17]:
numbers=[1,2,3,True,'5']
numbers

[1, 2, 3, True, '5']

In [20]:
#2차원 리스트
numbers_2d=[[1,2,3,4,5],[10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [26]:
print(numbers_2d[1])
print(numbers_2d[1][0])

[10, 20, 30, 40, 50]
10

In [33]:
for row in numbers_2d:
    for data in row:
        print(data,end='\t')
    print() #개행

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [44]:
for i in range(len(numbers_2d)): #len(numbers_2d)=4
    for j in range(len(numbers_2d[i])) :
        print("{}.{}열: {:>2}".format(i,j,numbers_2d[i][j]),end='\t')
    print()

0.0열:  1	0.1열:  2	0.2열:  3	0.3열:  4	0.4열:  5
1.0열: 10	1.1열: 20	1.2열: 30	1.3열: 40	1.4열: 50
2.0열:  1	2.1열:  3	2.2열:  5	2.3열:  7	2.4열:  9
3.0열:  2	3.1열:  4	3.2열:  6	3.3열:  8	3.4열: 10

## 1.2 기본 정보 조회

In [1]:
numbers=[1,2,3,4,5]
numbers_2d=[[1,2,3,4,5],[10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]

In [4]:
#요소 수
print('numbers의 요소 수: ',len(numbers))
print('numbers-2d의 요소 수: ',len(numbers_2d)) #리스트 안의 리스트 수를 세어버린다.
print('numbers-2d[0]의 요소 수: ',len(numbers_2d[0]))

numbers의 요소 수:  5
numbers-2d의 요소 수:  4
numbers-2d[0]의 요소 수:  5

In [7]:
#최소값 min, 최대값 max
min(numbers),max(numbers)

(1, 5)

In [9]:
# 2차원 리스트에서는 max() 함수는 부분 리스트 중 첫 요소가 가장 큰 값인 리스트를 반환.
#min()함수는 부분 리스트 중 첫 요소가 가장 작은 값을 갖는 리스트를 반환.

min(numbers_2d),max(numbers_2d)

([1, 2, 3, 4, 5], [10, 20, 30, 40, 50])

In [ ]:
#요소 추가, 요소 삭제

In [10]:
#+ 두 리스트를 연결
# * 리스트를 곱한 수만큼 반복
# append() 요소를 맨 뒤에 추가
# extend()리스트를 요소별로 맨 뒤에 추가
#insert() 지정된 index 위치에 삽입

In [13]:
numbers=[1,2,3,4,5]
numbers=numbers+numbers
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
print('ABC'*3)

ABCABCABC

In [15]:
#append() 함수 이용
numbers=[1,2,3]
print(numbers*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
#extend()
numbers=[1,2,3]
num = [4,5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [21]:
numbers.extend('Hello')
numbers

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o']

In [25]:
#insert(idx,추가할 내용):idx번째 인덱스에 추가할 내용 삽입
numbers=[1,2,3,4,5]
numbers.insert(1,'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱
-count() 리스트에서 데스트의 갯수 반환<br>
-index() 해당 요소의 위치 반환<br>
-[index]: 인덱스를 이용한 접근<br>

In [29]:
numbers=[1,2,3,[1,2,3],1,2,3]
numbers_2d=[[1,2,3],[1,2,3]]
print(numbers)
print(numbers_2d)

[1, 2, 3, [1, 2, 3], 1, 2, 3]
[[1, 2, 3], [1, 2, 3]]

In [30]:
numbers.count(2)

2

In [31]:
numbers.count(9)

0

In [32]:
numbers.count([1,2,3])

1

In [33]:
numbers_2d.count(2)

0

In [35]:
numbers_2d.count([1,2,3])

2

In [37]:
#0번째 인덱스부터 처음 나오는 2의 인덱스
numbers.index(2)

1

In [38]:
#번째 인덱스 이후부터 처음 나오는 '2'의 인덱스를 반환
numbers.index(2,4)

5

In [41]:
print(numbers.count(9))
#print(numbers.index(9)) #index 함수는 없는 값을 찾으려고 하면 에러난다.
#numbers[7]

0

## 1.5 원하는 리스트 내용만 추출:리스트 슬라이싱-인덱스보다 많이 씀
-[from_to_by] from부터 to 까지 by번 증가하는 index아이템 추출. 인덱스는 음수 가능.

In [47]:
numbers=[1,2,3,4,5]
numbers[2:9] # 2부터 9번 인덱스 바로 앞까지(해당 인덱스 없을 시 끝까지)

[3, 4, 5]

In [48]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [49]:
numbers[::]

[1, 2, 3, 4, 5]

In [52]:
numbers[-5:-1]

[1, 2, 3, 4]

In [54]:
numbers[-1:-5] #-1부터 -5 바로 전까지 by(1)씩 인덱스를 전진해야하므로 아무 값도 나오지 않게 된다.

[]

In [ ]:
numbers_2d = [[1,2,3],[10,20,30],[11,12,13],[21,22,23]]
numbers_2d[1:3]

In [55]:
numbers_2d[0][1:3]

[2, 3]

In [59]:
#람다식을 이용해서 list의 원하는 데이터 엑세스
numbers=[1,3,4,9,10,12,13,18,19,20]
#모든 데이터 다 가져오기
#for data in numbers:
#print(data)
[data for data in numbers]

[1, 3, 4, 9, 10, 12, 13, 18, 19, 20]

In [61]:
# 짝수 데이터만 가져오기
#짝수 데이터만 가져오기
#for x in numbers:
# if x%2 ==0;
#prinx(x)

[x for x in numbers if x%2==0]

[4, 10, 12, 18, 20]

In [63]:
# 10 이상의 데이터만 가져오기
[x for x in numbers if x>=10]

[10, 12, 13, 18, 19, 20]

In [66]:
#과일의 글씨가 5글자 이상인 과일만 추출
fruits=['orange','apple','mango','kiwi']
[f for f in fruits if len(f)>=5]

['orange', 'apple', 'mango']

In [72]:
# 리스트 값의 제곱을 추출하라.
L=[1,2,3,4,5]
[a*a for a in L]

[1, 4, 9, 16, 25]

In [76]:
# 리스트 값의 세제곱을 추출하라.
L=[1,2,3,4,5]
[a**3 for a in L]

[1, 8, 27, 64, 125]

In [75]:
# 리스트 값의 두배의 수를 추출하라.
L=[1,2,3,4,5]
[a*2 for a in L]

[2, 4, 6, 8, 10]